 * {
    font-family: helvetica;
    box-sizing: border-box;
  }

h1 {
     text-align: center;
  }

h2 {
      float:  right;
}

.coins {
     border: 1px solid ;
     width: 850px;
     height:  55vh;
     margin: auto;
     background-color: blue;  
}

.blue {
       background-color: rgb(255, 0, 0);
       height: 35px;
       border-radius: 50px;
       display: inline-flex;
       border: solid 1px;
       width: 50px;
}

.red {
       background-color: yellow;
       height: 40px;
       border-radius: 50px;
       display: inline-flex;
       border: solid 1px;
       width: 50px;
}
   
   
   
button {
       display: flex;
       justify-content: center;
       
}