 * {
    font-family: helvetica;
    box-sizing: border-box;
  }

h1 {
     text-align: center;
     font-family: 'Covered By Your Grace', cursive;
     font-size: 75px;
     text-shadow: 2px 2px red;
  }

#p1 {
       font-size: 35px;
       float: left;
       font-family: 'Covered By Your Grace', cursive;
}
#p2 {
       font-size: 35px;
       float: right;
       font-family: 'Covered By Your Grace', cursive;
}
#buttonTwo{
       margin: auto;
}
body{
       background: url("https://www.mycwt.com/content/dam/vision/images/germany-images/CWT-Traveler/connect-2020-03/connect-2020-03-ua-01.jpg") no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       
       
}
#board {
     border: 5px solid; 
     background-color: black;  
     display: grid;
     grid-template-columns: repeat(7, 100px);
     grid-template-rows: 100px 100px 100px; 
     width: 790px;
     text-align: center;
     margin: auto;
     column-gap: 2%;
}

#results{
       text-align: center;
}

#colOne {
       grid-column: 1/2;
       grid-row: 1/7;      
}

#colTwo{
       grid-column: 2/3;
       grid-row: 1/7;
       
}

#colThree {
       grid-column: 3/4;
       grid-row: 1/7;
       

}

#colFour{
       grid-column: 4/5;
       grid-row: 1/7;
       
}

#colFive{
       grid-column: 5/6;
       grid-row: 1/7;
       
}

#colSix{
       grid-column: 6/7;
       grid-row: 1/7;
       
}

#colSeven{
       grid-column: 7/8;
       grid-row: 1/7;
       
}


.tile {
       height: 9.5vh;
       width: 6vw;
       border: 0px solid black;
       background-color: white;
       border-radius: 47%;
       
}
main {
      float: left
}

