 * {
    font-family: helvetica;
    box-sizing: border-box;
  }

h1 {
     text-align: center;
  }

#p1 {
       float: left;
}
#p2 {
       float: right;
}
#buttonTwo{
       margin: auto;
}
#board {
     border: 5px solid; 
     background-color: black;  
     display: grid;
     grid-template-columns: repeat(6, 100px);
     grid-template-rows: 100px 100px 100px; 
    /* grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
     grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh; */
     width: 820px;
     text-align: center;
     margin: auto;
     column-gap: 2%;
}


#colOne {
       grid-column: 1/2;
       grid-row: 1/7;      
}

#colTwo{
       grid-column: 2/3;
       grid-row: 1/7;
       
}

#colThree {
       grid-column: 3/4;
       grid-row: 1/7;
       

}

#colFour{
       grid-column: 4/5;
       grid-row: 1/7;
       
}

#colFive{
       grid-column: 5/6;
       grid-row: 1/7;
       
}

#colSix{
       grid-column: 6/7;
       grid-row: 1/7;
       
}

#colSeven{
       grid-column: 7/8;
       grid-row: 1/7;
       
}


.tile {
       height: 9.5vh;
       width: 6vw;
       border: 0px solid black;
       background-color: white;
       border-radius: 47%;
       
}
main {
      float: left
}

/*.blue {
       background-color: rgb(255, 0, 0);
       height: 35px;
       border-radius: 50px;
       display: inline-flex;
       border: solid 1px;
       width: 50px;
}

.red {
       background-color: yellow;
       height: 40px;
       border-radius: 50px;
       display: inline-flex;
       border: solid 1px;
       width: 50px;
} */
   
   
 /*  
#buttonOne {
       float: left;
}
#buttonTwo {
       
}